<section class="text-gray-600 body-font justify-center">
    <div class="container mx-auto flex px-5 py-4 items-center justify-center flex-col">
      <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://camo.githubusercontent.com/2b46e391df944eeb2c79c3e1b7907b8787fd0b2df161405fda932385d559987b/68747470733a2f2f6e782e6465762f646f63756d656e746174696f6e2f6c61746573742f7368617265642f616e67756c61722d6c6f676f2e706e67">
      <div class="text-justify lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Angular Js</h1>
        <div class="mb-8 justify-center">
          <h3 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">What is Angular?</h3>
          <p>It is an open-source Javascript framework, which is written in TypeScript and maintained by Google for web development. The first version of Angular was released in 2010 as Angular 1.0, which is also known as AngularJS .
          AngularJs is based on Javascript but Angular (2.0 and +) is based on Typescript.
          Angular is mostly used for developing single-page applications.</p>
          <h3 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Why Angular?</h3>
          <p>Angular is easy to learn.
          It is being supported by the Google Team, which itself is another great benefit.
          It is component-based architecture which is one of the most important factors that separate Angular from others.
          Angular is full-fledged, It doesn’t require any additional libraries.</p>
          <h3 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">How to use?</h3>
          <p>Step-1: Before moving further make sure you have installed node and npm in your system. you can check using node --version and npm --version command.<br>
          Step-2: If npm and node is not installed. Download node "click here" .<br>
          step-3: As you already install node and npm you can check it by node --version and npm --version command. Now install angular cli by this npm install - g @angular/cli command.<br>
          Step-4: Create new project by this ng new projectName command. Choose yes for routing option and, CSS or SCSS.<br>
          Step-5: Go to your project directory cd projectName .<br>
          Step-6: Now run the server ng serve --open .</p>
          <h3 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Features</h3>
          <p>Cross-Platform : Angular is used for developing applications across all platforms – web, mobile web, native mobile and native desktop.<br>
          MVC Architecture : MVC stands for Model-View-Controller.<br>
          Two-Way Data Binding : The most effective Angular feature is its two-way data binding system.<br>
          Simple and Interactive : Angular UI Framework helps build features quickly with simple and declarative templates.<br>
          Speed and Performance : The loading time of Angular apps is faster than any other front end framework in the industry.</p>
          <h3 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Angular Architecture</h3>
          <p>Angular is a full-fledged model-view-controller (MVC) framework. It provides clear guidance on how the application should be structured and how to reduces the complexity in building and maintaining large web applications, it does this by the use of powerful tools like Angular CLI, Dependency Injection, etc.</p></div>
        
      </div>
    </div>
  </section>
