<section class="text-gray-600 body-font justify-center">
  <div class="container mx-auto flex px-5 py-4 items-center justify-center flex-col">
    <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://netbeans.incubator.apache.org/images/apache-netbeans.svg">
    <div class="text-justify lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Apache NetBeans</h1>
      <div class="mb-8 justify-center">
       
        <p>Apache NetBeans is an open source IDE that allows developers to create desktop, mobile, and web applications with Java, JavaScript, HTML5, PHP, C/C++, and more. Accessible across platforms, NetBeans highlights source code syntactically and semantically, and allows users to quickly refactor code. With NetBean’s open source nature, users can file issues and bug reports, and can also submit version pull requests. Users also have access to the Wiki, documentation, and community support.</p>
       </div>
      
    </div>
  </div>
</section>

