
<section class="text-gray-600 body-font justify-center">
    <div class="container mx-auto flex px-5 py-4 items-center justify-center flex-col">
      <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://lmksuo59r52jxjjy13j6oyze-wpengine.netdna-ssl.com/marketing-automation/files/2019/06/4182348ZI37xmJA.png">
      <div class="text-justify lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Ruby on Rails</h1>
        <div class="mb-8 justify-center">
         
          <p>Ruby on Rails, also known as Rails, is an open source web application framework. It is an MVC framework that provides structures for databases, web services, and web pages. It encourages the use of JSON, XML, HTML, CSS, and JavaScript. Rails’ features, such as seamless database table creations, migrations, and scaffolding of views, sets it apart form other web app development technology. Rails is currently used by companies such as Airbnb, GitHub, Shopify, and Hulu; over 1.2 million websites are running on Rails.</p>
         </div>
        
      </div>
    </div>
  </section>

