<section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
      <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://camo.githubusercontent.com/1fc3690aa5c1e48a204c00fdefe44ecb57f45fdac251f40ca67c59c39a2f0fc6/68747470733a2f2f7777772e636f64696e67646f6a6f2e636f6d2f626c6f672f77702d636f6e74656e742f75706c6f6164732f5468652d372d4d6f73742d496e2d44656d616e642d50726f6772616d6d696e672d4c616e6775616765732d6f662d323031392d496e6e65722d322e706e67">
      <div class="text-justify lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Getting Started With Open Source</h1>
        <p class="mb-8 leading-relaxed">Open source is a software that is open for all which mean there is no genuine owner of it. Open source is a source code that is made freely available for possible modification and redistribution. Some popular open source software are Mozilla Firefox, GIMP, VLC Media Player, Linux, Python, etc. Open source dosen't really mean to contributing to big repositories you can also start by contributing to small repositories tp get familiar with open source. Open source is the best way to test your understanding in the respective domain By contributing to an open source project, you receive immediate feedback on your development and programming skills. You may get suggestions about the choice of a function name, the way you used conditional logic, or how using a goroutine you didn't know about speeds up the execution of your program. This is all invaluable feedback to receive when you're learning something new.

            In addition to building your skills and increasing your confidence, all of your open source contributions are public and demonstrate the skills you have mastered and the projects you've tackled, hence creating a strong portfolio. There are prerequisites one should know before starting to contribute to open source:

            Build a good Tech background
            Its really important to have a good Tech background before contributing to open source or else it might do more harm than good. You need to know about architectural patterns, design patterns on which projects are made and well-known technologies before you begin anything. Learn a Programming Language
            Just like people communicate with each other through languages, you also need to tell your computer what to do using a language that these computers can understand. So choose any programming language as per your choice and goal and have in-depth knowledge in it.
            
            Ruby, Java, Python, C++, C#, Javascript are some languages you can go with. It’s not important to learn 3-4 languages simultaneously as a beginner. Start with one language and get well versed in it. After becoming proficient with a language you can start learning tech stacks in that language to get an overall idea about it.

            Tech Stacks
            A tech stack is the combination of technologies a company uses to build and run an application or project. Sometimes called a “solutions stack”, a tech stack typically consists of programming languages, frameworks, a database, front-end tools, back-end tools, and applications connected via APIs.
            
            Some popular tech stacks are mentioned below:
            
            MEAN
            MEAN Stack is a collection of user-friendly full-stack JavaScript frameworks including MongoDB, Express.js, Angular.js, and Node.js that developers use to build dynamic applications. It is open-source. It is fast-paced and organised. The sole programming language that the stack uses in JavaScript. This means every tier of the application operates on a single language. It is a versatile stack that can be used to build both mobile applications as well as web apps. MERN
            MERN Stack is a Javascript Stack that is used for easier and faster deployment of full-stack web applications. MERN Stack comprises of 4 technologies namely: MongoDB, Express, React and Node.js. It is designed to make the development process smoother and easier.
            
            Each of these 4 powerful technologies provides an end-to-end framework for the developers to work in and each of these technologies play a big part in the development of web applications. LAMP
            The widely popular LAMP stack is a set of open source software used for web application development.
            
            For a web application to work smoothly, it has to include an operating system, a web server, a database, and a programming language. The name LAMP is an acronym of the following programs:
            
            Linux Operating System Apache HTTP Server MySQL database management system PHP programming language. Version Control Systems
            Version control, also known as source control, is the practice of tracking and managing changes to software code. Version control systems are software tools that help software teams manage changes to source code over time. They also allow us to go through older versions and revert to an old version if required, you can find more information about VCS here. Just a few version controls system are listed below.

            Git
            It is a free and open-source version control system used to handle small to very large projects efficiently. Git is used to tracking changes in the source code, enabling multiple developers to work together on non-linear development.
            
            Github
GitHub is a Git repository hosting service, but it adds many of its own features. While Git is a command line tool, GitHub provides a Web-based graphical interface. It also provides access control and several collaboration features, such as a wikis and basic task management tools for every project. Open-Source Programs/Contests
Here are various programs that are available for university students and even for working professionals to get involved in open source.

Google Summer of Code (GSoC)
Google Summer of Code is a global program focused on bringing more student developers into open source software development.

Hacktoberfest
Hacktoberfest encourages participation in giving back to the open source community by completing pull requests, participating in events, and donating to open source projects.

MLH Fellowship
MLH Fellowship recently launched a program known as MLH fellowship which is a 12-week remote program where students collaborate on Open Source projects that align their personal interests with the general requirements of the industry and students can participate from their homes. It has mainly three tracks – Explorer, Open Source, and Externship. Here you will gain those skills that you require to be a successful engineer like writing good documentation, open-source best practices, communication, etc. Also, make sure you meet the eligibility criteria before applying for the program.

GirlScript Summer of Code
GirlScript Summer of Code is a 3 month long Open Source program during summers conducted by GirlScript Foundation, started in 2018, to help beginners get started with Open Source Development while encouraging diversity. This program is open for all not just for girls.

Linux Kernel Mentorship Program
Linux Kernel Mentorship Program offers a structured remote learning opportunity to aspiring Linux Kernel developers. Experienced Linux Kernel developers and maintainers mentor volunteer mentees and help them become contributors to the Linux Kernel.</p>
        
      </div>
      <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://camo.githubusercontent.com/026c331c9a534cd212d0c70209e5c476a0170c606a5a05e4eec0691143a5e12d/68747470733a2f2f7777772e616e67756c61726d696e64732e636f6d2f736974655f646174612f7374617469632f696d616765732f7765622d646576656c6f706d656e742d737461636b2f7765622d646576656c6f706d656e742d737461636b2e706e67">
      <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://camo.githubusercontent.com/073388fd84f9c281ca28be7929c63010bde0e30b4dc1411f37a5904c97d385c8/68747470733a2f2f62726f6164776179696e666f7379732e636f6d2f626c6f672f77702d636f6e74656e742f75706c6f6164732f323031392f30372f4d65726e2d537461636b2d446576656c6f706d656e742d547261696e696e672d696e2d4e6570616c2e6a7067">
      <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://camo.githubusercontent.com/6774580ccc41a741dead87b1fb3d026ebac75368296ac4664c8b3f8b6a8c1cf7/68747470733a2f2f6c68362e676f6f676c6575736572636f6e74656e742e636f6d2f44646f5672594d587a7569314a33436f4a503165466671366a58566257687839732d634f5f50525032336e77396545397761345666596878646f3349576c4a4f545148623756634d5252555a6b39593663425872514f496e44794162594a484b4f776369485978384b465a61364d6e41316b6f44703866326f3036417779436362395174622d77">
      <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://camo.githubusercontent.com/407858264d40ac2eb4c5ca85b5cb9f8032db58533f9c91d4c4c33647711ac29c/68747470733a2f2f636f6e74656e742e696e73747275637461626c65732e636f6d2f4f5249472f464d472f484931542f4a5443524a4a5a452f464d47484931544a5443524a4a5a452e6a70673f6175746f3d77656270266672616d653d31266669743d626f756e6473266d643d6530356137373461343230633934633364323764313263343961373031636563">
      <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://camo.githubusercontent.com/edd3ca4a657e95f3a923e629a401025d15de1159a12171bf19ee4d4c3752c607/68747470733a2f2f6d69726f2e6d656469756d2e636f6d2f6d61782f313430302f312a594352766d6d623977624741714b5956664a4e794c772e706e67">
    </div>
  </section>