
<section class="text-gray-600 body-font justify-center">
    <div class="container mx-auto flex px-5 py-4 items-center justify-center flex-col">
      <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://lmksuo59r52jxjjy13j6oyze-wpengine.netdna-ssl.com/marketing-automation/files/2019/06/420150ho5TNFzd.png">
      <div class="text-justify lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Atom</h1>
        <div class="mb-8 justify-center">
         
          <p>Atom is a greatly customizable text editor meant to easily integrate with other commonly used developer tools. Features include cross-platform editing, built-in package manager, smart auto-completion, and a file system browser. Additionally, customize your work environment with open source packages, themes, as well as UI and source code alteration. Integrations include functionalities like Teletype, which allows users to collaborate with other developers in real time, and GitHub, which allows for in-app branch creation, software update pushes and pulls, and much more.</p>
         </div>
        
      </div>
    </div>
  </section>

