
<section class="text-gray-600 body-font justify-center">
    <div class="container mx-auto flex px-5 py-4 items-center justify-center flex-col">
      <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://florencefennel.co.in/image/cache/catalog/florencefennel/react%20js-1000x1000.jpg">
      <div class="text-justify lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">ReactJs</h1>
        <div class="mb-8 justify-center">
         
          <p>React is a JavaScript library created for building fast and interactive user interfaces for web and mobile applications. It is an open-source, component-based, front-end library responsible only for the application’s view layer.

            React was created by Jordan Walke, a software engineer at Facebook.
            
            React is a User Interface (UI) library and a tool for building UI components.
            
            React exists in a gray area between library and framework. React by itself has the qualities of a library – it’s easier to learn than frameworks like Angular and Vue, and it doesn’t have a lot of opinions.
            
             </p>
         </div>
        
      </div>
    </div>
  </section>
