<section class="text-gray-600 body-font justify-center">
    <div class="container mx-auto flex px-5 py-4 items-center justify-center flex-col">
      <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://camo.githubusercontent.com/11af4891c22f36a5609e9c404040df67fbeb857f125f4dedcdfb81dc2dc6ec9c/68747470733a2f2f692e6962622e636f2f514e385a3754732f657a6769662d636f6d2d6769662d6d616b65722e706e67">
      <div class="text-justify lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Django</h1>
        <div class="mb-8 justify-center">
         
          <p>As we are talking about open source , Django being one , is high-level python backend framework which is not only open source but also offers us a number of features which serves as crucial part for an application . It is Built and forged by skilled and experienced developers.
            Features that make Django , a top rated backend framework
            Django with its predefined and marshal arrangement of things, makes it flexible and also provides rapid development.
            Security is a primary concern for every professional developer , hence django provides various unbeatable features starting SQL Injection to cross-site scripting to keep things under the shelter of security.
            Being scalable and versatile , make django easy to use and hence can easily back both large scale and small scale applications.
            Django contains various helping task modules and libraries which can be used to handle common Web development tasks.
            High-profile site that use Django include: Disqus , Instagram , Knight Foundation , Mozilla , National Geographic etc.</p>
         </div>
        
      </div>
    </div>
  </section>
  