<section class="text-gray-600 body-font justify-center">
    <div class="container mx-auto flex px-5 py-4 items-center justify-center flex-col">
      <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://th.bing.com/th/id/OIP.z7EjzrMoD64iALwOcRgY5wHaD7?pid=ImgDet&rs=1">
      <div class="text-justify lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">PHP</h1>
        <div class="mb-8 justify-center">
         
          <p>PHP is becoming the most popular open source programming language and has made itself to the no.1 position. According to many leading industry leaders, PHP has emerged as the most developer friendly open source language, which explains why various open source packages such as Joomla and Drupal are being built on PHP. Being budget friendly, PHP based solutions are being utilized by entrepreneurs and SME’s as well. Today, many developers are debuting on PHP, giving it a strong boost and strong community base.

            Some features of PHP
            No need to specify data type for variable declaration – an example of a loosely typed language
            Provides cross platform compatibility
            Allows predefined variables called super-globals.
            Predefined error reporting constants are available
            Supports extended regular expressions
            Ability to generate dynamic page content
            Ability to collect form data and even send and receive cookies
            Allows creating, opening, reading, writing, deleting, and closing files on the server
            Output not limited to HTML, but also images, PDF files, flash, XHTML, and XML.
            Runs on various platforms such as windows, Linux, Unix, Mac OS x, etc.
            Compatible with almost all servers used presently (apache, IIS, etc)</p>
         </div>
        
      </div>
    </div>
  </section>
