<section class="text-gray-600 body-font">
  <div class="container px-5 py-8 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/12 md:w-1/2 p-4 w-full">
        <a routerLink="/git" routerLinkActive="active" class="block relative h-100 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://lmksuo59r52jxjjy13j6oyze-wpengine.netdna-ssl.com/marketing-automation/files/2019/06/4163612Bh1PaV98.png">
        </a>
        
      </div>
      <div class="lg:w-1/12 md:w-1/2 p-4 w-full">
        <a routerLink="/eclipse" routerLinkActive="active" class="block relative h-100 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://lmksuo59r52jxjjy13j6oyze-wpengine.netdna-ssl.com/marketing-automation/files/2019/06/Ma-pahqu_400x400.jpg">
        </a>
       
      </div>
      <div class="lg:w-1/12 md:w-1/2 p-4 w-full">
        <a routerLink="/apachenet" routerLinkActive="active" class="block relative h-100 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://lmksuo59r52jxjjy13j6oyze-wpengine.netdna-ssl.com/marketing-automation/files/2019/06/4211020Wm1y60aV.jpg">
        </a>
       
      </div>
      <div class="lg:w-1/12 md:w-1/2 p-4 w-full">
        <a routerLink="/ruby" routerLinkActive="active" class="block relative h-100 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://lmksuo59r52jxjjy13j6oyze-wpengine.netdna-ssl.com/marketing-automation/files/2019/06/4182348ZI37xmJA.png">
        </a>
        
      </div>
      <div class="lg:w-1/12 md:w-1/2 p-4 w-full">
        <a routerLink="/cordova" routerLinkActive="active" class="block relative h-100 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://lmksuo59r52jxjjy13j6oyze-wpengine.netdna-ssl.com/marketing-automation/files/2019/06/42027354ohXazIN.png">
        </a>
        
      </div>
      <div class="lg:w-1/12 md:w-1/2 p-4 w-full">
        <a routerLink="/bootstrap" routerLinkActive="active" class="block relative h-100 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://lmksuo59r52jxjjy13j6oyze-wpengine.netdna-ssl.com/marketing-automation/files/2019/06/418171018HLnnAS.jpg">
        </a>
        
      </div>
      <div class="lg:w-1/12 md:w-1/2 p-4 w-full">
        <a routerLink="/gnu" routerLinkActive="active" class="block relative h-100 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://lmksuo59r52jxjjy13j6oyze-wpengine.netdna-ssl.com/marketing-automation/files/2019/06/4187461PfcnWQb.png">
        </a>
        
      </div>
      <div class="lg:w-1/12 md:w-1/2 p-4 w-full">
        <a routerLink="/atom" routerLinkActive="active" class="block relative h-100 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://lmksuo59r52jxjjy13j6oyze-wpengine.netdna-ssl.com/marketing-automation/files/2019/06/420150ho5TNFzd.png">
        </a>
        
      </div>
      <div class="lg:w-1/12 md:w-1/2 p-4 w-full">
        <a routerLink="/python" routerLinkActive="active" class="block relative h-100 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/182px-Python-logo-notext.svg.png">
        </a>
        
      </div>
      <div class="lg:w-1/12 md:w-1/2 p-4 w-full">
        <a routerLink="/php" routerLinkActive="active" class="block relative h-100 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/PHP-logo.svg/330px-PHP-logo.svg.png">
        </a>
        
      </div>
      <div class="lg:w-1/12 md:w-1/2 p-4 w-full">
        <a routerLink="/vue" routerLinkActive="active" class="block relative h-100 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.bing.com/th?id=AMMS_6f50bccf66167019bdb9a7677dc8cb51&w=110&h=110&c=7&rs=1&qlt=80&pcl=f9f9f9&o=6&cdv=1&dpr=1.35&pid=16.1">
        </a>
        
      </div>
      <div class="lg:w-1/12 md:w-1/2 p-4 w-full">
        <a routerLink="/angular" routerLinkActive="active" class="block relative h-100 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.bing.com/th?id=A96f53bb4c6afa949c10a9bec0784f044&w=110&h=110&c=7&rs=1&qlt=80&o=6&dpr=1.35&pid=SANGAM">
        </a>
        
      </div>
      <!--next batch-->
      <div class="lg:w-1/12 md:w-1/2 p-4 w-full">
        <a routerLink="/nodejs" routerLinkActive="active" class="block relative h-100 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.bing.com/th?id=A5f48c78b76aa561c5e581aa406cb7891&w=110&h=110&c=7&rs=1&qlt=80&o=6&dpr=1.35&pid=SANGAM">
        </a>
        
      </div>
      <div class="lg:w-1/12 md:w-1/2 p-4 w-full">
        <a routerLink="/reactjs" routerLinkActive="active" class="block relative h-100 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.bing.com/th?id=Ac8394234c428a67eb37a898caf136def&w=110&h=110&c=7&rs=1&qlt=80&o=6&dpr=1.35&pid=SANGAM">
        </a>
       
      </div>
      <div class="lg:w-1/12 md:w-1/2 p-4 w-full">
        <a routerLink="/django" routerLinkActive="active" class="block relative h-100 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.bing.com/th?id=A6dd7d857a8aacd62442b515b407dbaf9&w=110&h=110&c=7&rs=1&qlt=80&o=6&dpr=1.35&pid=SANGAM">
        </a>
       
      </div>
      <div class="lg:w-1/12 md:w-1/2 p-4 w-full">
        <a routerLink="/flask" routerLinkActive="active" class="block relative h-100 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.bing.com/th?id=Aca76663eddcfd280913c4b8614f101bd&w=110&h=110&c=7&rs=1&qlt=80&o=6&dpr=1.35&pid=SANGAM">
        </a>
        
      </div>
      <div class="lg:w-1/12 md:w-1/2 p-4 w-full">
        <a routerLink="/mongodb" routerLinkActive="active" class="block relative h-100 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.bing.com/th?id=Abc0ced004d6ce9cb7df2e94c7e46044c&w=110&h=110&c=7&rs=1&qlt=80&o=6&dpr=1.35&pid=SANGAM">
        </a>
        
      </div>
      <div class="lg:w-1/12 md:w-1/2 p-4 w-full">
        <a routerLink="/nextjs" routerLinkActive="active" class="block relative h-100 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.bing.com/th?id=Af6e5dff9bf0863783cb87d6c37b87e05&w=110&h=110&c=7&rs=1&qlt=80&o=6&dpr=1.35&pid=SANGAM">
        </a>
        
      </div>
      <div class="lg:w-1/12 md:w-1/2 p-4 w-full">
        <a routerLink="/nestjs" routerLinkActive="active" class="block relative h-100 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.bing.com/th?id=AMMS_34804464dbbdc08c31b5b8e554a46bd2&w=110&h=110&c=7&rs=1&qlt=95&pcl=f9f9f9&o=6&cdv=1&dpr=1.35&pid=16.1">
        </a>
        
      </div>
      <div class="lg:w-1/12 md:w-1/2 p-4 w-full">
        <a routerLink="/tensorflow" routerLinkActive="active" class="block relative h-100 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.bing.com/th?id=A316e2dcb27e2e9999a7e387f0ac4a9a8&w=110&h=110&c=7&rs=1&qlt=80&o=6&dpr=1.35&pid=SANGAM">
        </a>
        
      </div>
      <div class="lg:w-1/12 md:w-1/2 p-4 w-full">
        <a routerLink="/pytorch" routerLinkActive="active" class="block relative h-100 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.bing.com/th?id=Aca6ca3cbcac904797ff5522667992935&w=110&h=110&c=7&rs=1&qlt=80&o=6&dpr=1.35&pid=SANGAM">
        </a>
        
      </div>
      <div class="lg:w-1/12 md:w-1/2 p-4 w-full">
        <a routerLink="/swift" routerLinkActive="active" class="block relative h-100 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://image.slidesharecdn.com/swift-141213175016-conversion-gate01/95/swift-programming-language-1-638.jpg?cb=1465900507">
        </a>
        
      </div>
      <div class="lg:w-1/12 md:w-1/2 p-4 w-full">
        <a routerLink="/opencv" routerLinkActive="active" class="block relative h-100 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.bing.com/th?id=Ad151f2022fcdf735406f8e2f276576a2&w=110&h=110&c=7&rs=1&qlt=80&o=6&dpr=1.35&pid=SANGAM">
        </a>
        
      </div>
      <div class="lg:w-1/12 md:w-1/2 p-4 w-full">
        <a routerLink="/linux" routerLinkActive="active" class="block relative h-100 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://www.bing.com/th?id=Aae1bea894085b07e6b19c55fd4671f9d&w=110&h=110&c=7&rs=1&qlt=80&o=6&dpr=1.35&pid=SANGAM">
        </a>
        
      </div>
    </div>
  </div>
</section>