
<section class="text-gray-600 body-font justify-center">
    <div class="container mx-auto flex px-5 py-4 items-center justify-center flex-col">
      <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://camo.githubusercontent.com/3de39271329cead845b26e2d07b11621982c90bd4312904c601b22c4597fb36b/68747470733a2f2f6e782e6465762f646f63756d656e746174696f6e2f6c61746573742f7368617265642f6e6578746a732d6c6f676f2e706e67">
      <div class="text-justify lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Next Js</h1>
        <div class="mb-8 justify-center">
         
          <p>What is Next.js?
            It is a React framework that has additional features such as server-side rendering (SSR) and it performs static-site generation. It has the benefits of react and also consists of additional features.
            
            What is Server Side Rendering(SSR)
            SSR enables the server to access all necessary data and process the JavaScript to render the page. The page is then returned to the browser in its full and it is rendered immediately. It loads web pages quickly and improves user experience along with its responsiveness. It also useful for improving the SEO ranking of the website as it can load faster and helps in scanning more of the site content for SEO trackers.
            
            Features
            It has a page-based routing system which with also supports dynamic routes
            Pre-rendering both SSG and SSR are supported on a per-page basis
            It automatically splits the code for faster page loads
            It has Client-side routing along with optimized prefetching
            It has built-in CSS and Sass support, and also supports any CSS-in-JS library
            It has a development environment with Fast Refresh support.
            It uses API routes to build API endpoints with Serverless Functions
            It is also fully extendable</p>
         </div>
        
      </div>
    </div>
  </section>

