
<section class="text-gray-600 body-font justify-center">
    <div class="container mx-auto flex px-5 py-4 items-center justify-center flex-col">
      <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://github.com/mayankkuthar/Reference-Images/raw/main/linux.jpg?raw=true">
      <div class="text-justify lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Linux Kernel</h1>
        <div class="mb-8 justify-center">
         
          <p>A computer's primary function is to execute a programme, which is a preset set of instructions. A process is a term used to describe a programme that is currently running. Most special purpose computers are now designed to execute a single process, but a sophisticated system like a general purpose computer is designed to run multiple processes at the same time. Any process necessitates hardware resources such as memory, processor time, and storage space, among others.

            In a General Purpose Computer that is executing multiple processes at the same time, we require a middle layer to manage the distribution of the computer's hardware resources efficiently and fairly across all of the processes. The kernel is the term for the middle layer. The kernel essentially virtualizes the computer's common hardware resources to provide each process with its own virtual resources. This gives the impression that the process is the only one running on the machine. In addition, the kernel is in charge of preventing and resolving disputes between processes.
            
            The Linux kernel is a Unix-like operating system kernel that is free and open-source, monolithic, modular, and multitasking. Linus Torvalds invented and developed it for his i386-based PC in 1991, and it was quickly accepted as the kernel for the GNU operating system, which was built as a free replacement for UNIX. It has produced a vast variety of operating system distributions, often referred to as Linux, since then.
            
            Linux is used on a wide range of computing platforms, including embedded devices, mobile devices (including Android), personal computers, servers, mainframes, and supercomputers. It can be customised for specific architectures and use cases using a set of simple commands (rather than manually modifying the source code before compilation); privileged users can even fine-tune kernel parameters at runtime. The GNU extensions of GCC to the normal C programming language, as well as architecture-specific instructions, are used to write the majority of the Linux kernel code (ISA). This results in a highly optimised executable (vmlinux) in terms of memory use and task execution times.
            
            The Linux kernel mailing list is where day-to-day development conversations take place (LKML). The version control system git, which Torvalds designed as a custom substitute for BitKeeper, is used to track changes. Linux is published under the GNU General Public License version 2 (GPL-2.0-only) with an explicit syscall exception (Linux-syscall-note), but it also includes files that are licenced under other comparable licences.</p>
         </div>
        
      </div>
    </div>
  </section>

