
<section class="text-gray-600 body-font justify-center">
    <div class="container mx-auto flex px-5 py-4 items-center justify-center flex-col">
      <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://camo.githubusercontent.com/e781a896d227d3981354cd4dadc4f858822ab6e60fded241196baaa8d4791ebf/68747470733a2f2f6d69726f2e6d656469756d2e636f6d2f6d61782f3438302f312a4d43704d35696471684e526a6f574366625f36304f412e706e67">
      <div class="text-justify lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Flask</h1>
        <div class="mb-8 justify-center">
         
          <p>Flask is a web framework. Flask allows you to build a web application by providing tools, libraries, and technologies. This web application will be a web page, a wiki, or a big web-based calendar application or commercial website. Flask is classified into a micro-framework that means it has little to no dependencies on external libraries. There are some pros and cons. Pros mean there are little dependencies to upgrade and to watch security bugs and cons means by adding the plugin you will increase the dependencies. Flask has two dependencies, they are-

            Werkzeug a WSGI utility library
            
            Jinja2 is a template engine
            
             </p>
         </div>
        
      </div>
    </div>
  </section>
