
<section class="text-gray-600 body-font justify-center">
    <div class="container mx-auto flex px-5 py-4 items-center justify-center flex-col">
      <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://download.logo.wine/logo/GNU_Emacs/GNU_Emacs-Logo.wine.png">
      <div class="text-justify lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">GNU Emacs</h1>
        <div class="mb-8 justify-center">
         
          <p>Emacs is a customizable, cross-platform, real-time display editor. It includes built-in documentation and a tutorial for new users. Emacs comes with full Unicode support, content-aware editing modes, a packaging system for downloading and installing extensions, and more. Emacs also comes with unique features including a project planner, mail and news reader, debugger interface, and calendar. Users have full access to additional documentation, Emacs wiki, history, and other product information on the GNU website.</p>
         </div>
        
      </div>
    </div>
  </section>

