<section class="text-gray-600 body-font justify-center">
    <div class="container mx-auto flex px-5 py-4 items-center justify-center flex-col">
      <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://user-images.githubusercontent.com/84470487/135885372-c28d3996-f834-4da8-8725-52f072b83e21.png">
      <div class="text-justify lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">TensorFlow</h1>
        <div class="mb-8 justify-center">
         
          <p>TensorFlow is an end-to-end open-source platform for machine learning that provides a comprehensive, flexible ecosystem of tools, libraries, and community resources that allows researchers and developers to build and deploy ML-powered applications easily.

            How TensorFlow Works
            It enables you to build dataflow graphs and structures which defines how the data moves through the graph by taking inputs as a multi-dimensional array called as Tensor. It helps you in constructing a flowchart of operations which are performed on the inputs at one end and it comes out from the other end as the output. It is called TensorFlow because the tensor flows through a list of operations, and then it comes out from the other side as the output.
            
            TensorFlow Architecture
            Tensorflow architecture works in three parts:
            
            Preprocessing the data Build the model Train and estimate the model
            
            Where can Tensorflow run?
            Depending on hardware and software requirements tensorflow can be classified into:
            
            Development Phase: In the development phase you train the model and it is done on your laptop or desktop usually.
            
            Run Phase or Inference Phase: After the training is done it can be run on many different platforms such as Windows, macOS or Linux , cloud as a web service and on iOS and Android mobile devices. It can be trained on multiple machines and can be run on a machine which is different from the one on which you trained the model. It can be trained and used on GPUs as well as CPUs.</p>
         </div>
        
      </div>
    </div>
  </section>
