
<section class="text-gray-600 body-font justify-center">
    <div class="container mx-auto flex px-5 py-4 items-center justify-center flex-col">
      <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Git-logo.svg/500px-Git-logo.svg.png">
      <div class="text-justify lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Git</h1>
        <div class="mb-8 justify-center">
         
          <p>Git is an open source distributed version control system designed to handle both small and large projects. Its unique branching model allows users to create multiple local branches that are completely independent. Branches can easily be created, merged, or deleted. This allows for smooth context switching, role-based code lines, feature-based workflows, disposable experimentation, and more. Users can pick and choose which branches to push to a remote repository, and can easily exchange or delete certain releases. Git is used by companies such as Google, Facebook, Microsoft, Twitter, LinkedIn, and more.</p>
         </div>
        
      </div>
    </div>
  </section>

