<section class="text-gray-600 body-font justify-center">
    <div class="container mx-auto flex px-5 py-4 items-center justify-center flex-col">
      <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://camo.githubusercontent.com/600d5e31dbe040b7520c991da40dfc5ef8ac23d7bd6b3757c3c7c700e0f044cd/68747470733a2f2f7675656a732e6f72672f696d616765732f6c6f676f2e737667">
      <div class="text-justify lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Vue Js</h1>
        <div class="mb-8 justify-center">
         
          <p>Vue.js is an open-source model–view–viewmodel front end JavaScript framework for building user interfaces and single-page applications. It is a progressive framework for building user interfaces. Unlike other monolithic frameworks, Vue is designed from the ground up to be incrementally adoptable. The core library is focused on the view layer only, and is easy to pick up and integrate with other libraries or existing projects. On the other hand, Vue is also perfectly capable of powering sophisticated Single-Page Applications when used in combination with modern tooling and supporting libraries.
        </p>
         </div>
        
      </div>
    </div>
  </section>
  
  